@font-face {
font-family:"barlow-semi-condensed";
src:url("https://use.typekit.net/stub/barlow-n4.woff2") format("woff2"),url("https://use.typekit.net/stub/barlow-n4.woff") format("woff"),url("https://use.typekit.net/stub/barlow-n4.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"barlow-semi-condensed";
src:url("https://use.typekit.net/stub/barlow-i4.woff2") format("woff2"),url("https://use.typekit.net/stub/barlow-i4.woff") format("woff"),url("https://use.typekit.net/stub/barlow-i4.otf") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}
